html {
    font-size: 16px;
}
body {
    background-color: #323138;
    color: #e0e0e0;
    padding: 5px 20px;
}

a {
    color: rgb(159, 190, 133);
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgb(71, 87, 58);
}

nav a {
    font-size: 2rem;
    padding: 10px;
}

.big-text {
    font-size: 2rem;
}

.small-text {
    font-size: 0.8rem;
}
.semi-text {
    font-size: 1.5rem;
}
table, th, td {
    border: 1px solid #696969;
}
td, th {
    padding: 2px 5px;
}

#chart_div table {
    color: #444444;
}
#chart_div table td { 
    padding: 10px;
}


@keyframes link-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.chapter-link {
    display: inline-block;
    color: rgb(235, 166, 110);
    animation: 1s infinite linear link-animation;
}

.chapter-link:hover {
    color: rgb(212, 131, 64);
}

.form {
    background-color: #e0e0e0;
    height: 400px;
    overflow-y: auto;
    width: 100%;
}
.hotpotatoes {
    background-color: #e0e0e0;
    height: 640px;
    overflow-y: auto;
    width: 100%;
}
.results {
    background-color: #e0e0e0;
    height: 600px;
    overflow-y: auto;
    width: 100%;
    padding: 0;
    overflow-x: visible;
}